.root {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.root img {
    background: var(--standard-light-purple);
    height: 80px;
}

@media (max-width: 800px) {
    .root img {
        height: 80px;
    }
}