.root {
    background-color: var(--standard-light-purple);
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 1px solid var(--standard-light-purple);
    transition: all ease-in-out 0.3s;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor:pointer;
}

.circle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

.root:hover, .isActive {
    border-radius: 50%;
    border: 1px solid var(--standard-dark-purple);
}