.root {
    min-width: 220px;
}

.webRoot {
    display: flex;
    flex-direction: column;
}

.webLink {
    padding: 12px;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
}

.webLink:hover {
    background-color: var(--standard-light-purple);
}

.activeLink {
    background-color: var(--standard-light-purple);
    font-weight: 500;
}

@media (max-width: 800px) {
    .root {
        min-width: 0px;
    }

    .webRoot {
        display: none;
    }
}